{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Shop{% endblock %}
{% block content %}
    <div class="container-register">
        <div class="login-form">
            <div class="card">
                <div class="card-header">
                    <h1>Login</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.email|as_crispy_field }}
                        {{ form.password|as_crispy_field }}
                        <button type="submit">Login</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="{% url 'register' %}">Não tem uma conta? Registre-se</a>
                </div>
            </div>
        </div>
        <div class="hero-image">teste</div>
    </div>
{% endblock %}
