{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container-register">
        <div class="login-form">
            <div class="card">
                <div class="card-header">
                    <h1>Login</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-1">{{ form.nome|as_crispy_field }}</div>
                        <div class="mb-1">{{ form.email|as_crispy_field }}</div>
                        <div class="mb-1">{{ form.nascimento|as_crispy_field }}</div>
                        <div class="mt-1">{{ form.password1|as_crispy_field }}</div>
                        <div class="mt-1">{{ form.password2|as_crispy_field }}</div>
                        <div class="mb-1">
                            <button type="submit" class="btn btn-primary">Registrar-se</button>
                        </div>
                    </form>
                    <div class="card-footer">
                        <a href="{% url 'index' %}">Fazer login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-image">teste</div>
    </div>
{% endblock %}
